{% extends "base.html" %}
{% block title %}Self Destructing Notes{% endblock %}
{% block head %}
    <script type="application/javascript" src="{{ url_for('index') }}static/js/isaac.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/keygen.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/hashcash.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/sha1-min.js"></script>
    <script type="application/javascript" src="{{ url_for('index') }}static/js/fingerprint-min.js"></script>
    <script type="application/javascript">var fingerprint = new Fingerprint().get();</script>
{% endblock %}
{% block content %}
<script>
    function toggle_pass_settings() {
        var x = document.getElementById("pass_settings");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
</script>
<head>
    <title>Flask app</title>
    <link href="{{ url_for('index') }}static/css/bootstrap.css" type = "text/css" rel="stylesheet">
    <link href="{{ url_for('index') }}static/css/custom.css" type = "text/css" rel="stylesheet">
    <link href="{{ url_for('index') }}static/css/dataTables.bootstrap.min.css" type = "text/css" rel="stylesheet">
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="height:auto"><img src="{{ url_for('index') }}static/img/UVUHorizontalWhite-0011.png"></a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
</div>


<style type="text/css">
.ui-autocomplete {
  max-height: 110px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 110px;
}
.ui-menu {
  z-index: 1000 !important;
  white-space: nowrap;
}
</style>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Title block -->
    <h1>Self destructing encrypted notes</h1>
    <p>Securely send PINs, messages, passwords, or other sensitive or private information. All notes are encrypted, and destroyed immediately after viewing.</p>
    <!-- Generate Password Button -->
    <button id="btn_generate_pass" class="btn btn-success" onclick="generate_pass()">Generate Password</button>
    <!-- Passwrod Setting Toggle -->
    <button id="btn_pass_settings_toggle" class="btn btn-success" onclick="toggle_pass_settings()">Show/Hide Password Settings</button>
    <div id="pass_settings" style="display: none;">
        <table id="customers">
            <!-- Headers -->
            <tr>
                <th></th>
                <th>Option</th>
                <th>Description</th>
                <th>Additional</th>
            </tr>
            <!-- Custom Generation -->
            <tr>
                <td><input type="checkbox" id="cb_custom" label="Use custom generation."></td>
                <td><label for="cb_custom">Custom</label></td>
                <td><label>Use custom generation</label>
                    <br> <label>w = Upper or Lowercase Word</label>
                    <br> <label>s = Seperator</label>
                    <br> <label>n = Number</label>
                    <br> <label>r = Random Charecter</label>
                    <br> <label>S = Special Charecter</label>
                    <br> <label>L = Upper or Lowercase Letter</label>
                </td>
                <td><input id="input_custom" type="text" placeholder="znsznszn" max="255" min="1"></td>                    
            </tr>
            <!-- Wordlist -->
            <tr>
                <td><input type="checkbox" id="cb_wordlist" label="Use a wordlist."></td>
                <td><label for="cb_wordlist">Wordlist</label></td>
                <td><label>Use a wordlist</label></td>
                <td><input id="input_wordlist" type="number" placeholder="How many words?" max="16" min="1"></td>
            </tr>
            <!-- Seperators -->
            <tr>
                <td><input type="checkbox" id="cb_seperators" label="Use a seperator."></td>
                <td><label for="cb_seperators">Seperators</label></td>
                <td><label>Use Seperators (- _ , * + : )</label></td>
                <td><input id="input_seperators" type="number" placeholder="Separate after how many charecters/words" max="255" min="1"></td>                    
            </tr> 
            <!-- Custom Character Set -->
            <tr>
                <td><input type="checkbox" id="cb_customchars" label="Use a custom character set."></td>
                <td><label for="cb_customchars">Custom Character Set</label></td>
                <td><label>Use A Custom Character Set</label></td>
                <td><input id="input_customchars" type="text" placeholder="AaBbCcDd12345!@#$%" max="94" min="1"></td>                    
            </tr>
            <!-- Letters -->
            <tr>
                <td><input type="checkbox" id="cb_letters" label="Use Letters."></td>
                <td><label for="cb_letters">Letters</label></td>
                <td><label>Use Letters</label></td>
                <td><label>Uppercase</label><input type="checkbox" id="cb_letters_upper" label="Use Uppercase Letters." checked><label>Lowercase</label><input type="checkbox" id="cb_letters_lower" label="Use Lowercase Letters." checked></td>                    
            </tr>
            <!-- Numbers -->
            <tr>
                <td><input type="checkbox" id="cb_Numbers" label="Use Numbers."></td>
                <td><label for="cb_numbers">Numbers</label></td>
                <td><label>Use numbers 0-9</label></td>
                <td></td>                    
            </tr>
            <!-- Special Charecters -->
            <tr>
                <td><input type="checkbox" id="cb_special" label="Use Special Charecters."></td>
                <td><label for="cb_special">Special Charecters</label></td>
                <td><label>Use Special Characters</label><br><label>!@#$%^&*()-_=+[]{}\|<>,./?</label></td>
                <td></td>                    
            </tr>
            <!-- Nuimber of Charecter -->
            <tr>
                <td></td>
                <td><label> Number of Charecters </label></td>
                <td></td>
                <td><input id="input_char_number" type="number" placeholder="16" max="255" min="1"></td>                    
            </tr>
            <!-- Custom Character Set -->
            <tr>
                <td><input type="checkbox" id="cb_exclude" label="Exclude these sets"></td>
                <td><label for="cb_exclude">Exclude</label></td>
                <td><label>Exclude sets of charecters. Comma seperated</label></td>
                <td><input id="input_exclude" type="text" placeholder="a,A,fo0,b4R" max="255" min="1"></td>                    
            </tr>
        </table>
    </div>

    <!-- Are you a bot? -->
    <form method="POST" onsubmit="return validate_form()" action="{{ url_for('show_post', _external=True) }}">
        {% if error %}
            <p class="error">
            {% if error == "hashcash" %}
                HashCash token is invalid. Please make sure JavaScript is enabled and try again.
            {% endif %}
            </p>
        {% endif %}
        <!-- Start of Input Box -->
        <input name="new_url" type="hidden" value="{{ random }}">
        <p>Type or paste your text below:</p>
         <!-- The actual input box -->
        <textarea style="width:100%; height:250px" id="paste" name="paste"></textarea>
        <br/>
        <!-- Passphrase to lock secret -->
        <div class="blockfirst">
            Enter optional passphrase / password: <b>RECOMMENDED!!!</b> Services like Slack or Teams might destory your note without it!
            <span class="tooltip">
                <span class="trigger">?</span>
                <span class="popup">This passphrase will encrypt and decrypt your note, rather than the one created by the server.</span>
            </span>
            <br/>
            <input id="passphrase" type="text" name="pass" id="passphrase">
            <!-- Generate the passphrase -->
            <input type="button" class="btn btn-success" value="Generate One" onclick="document.getElementById('passphrase').value = make_key()">
        </div>
        <!-- Dont be a scammer -->
        <div class="blocklast">
            <input type="hidden" id="hashcash" name="hashcash">
            <!-- Submit Note Button -->
            <div id="submitButnHolder">
                <input type="submit" class="btn btn-success" id="submit" value="Submit Note">
            </div>
            <span id="progress">(Please be patient)</span>
            <span class="tooltip">
                <span class="trigger">?</span>
                <span class="popup">A puzzle is solved in your browser proving you are human. The puzzle should be solved in a few seconds at most depending on your hardware.</span>
            </span>
        </div>
        <!-- Table for passwrod generation options -->
    </form>
{% endblock %}
